.image-zone {
  position: absolute;
  border-radius: 50%;

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__plaseholder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;

    &_dropover {
      background-color: #2CAEF8;
      opacity: 0.1;
    }
  }

  &__input {
    border-radius: 50%;
    z-index: 3;
    opacity: 0;
    // visibility: hidden;
    // display: none;
  }
  &__icon {
    z-index: 1;
    fill: #2CAEF8;
    position: absolute;
  }
}