.image-zone {
  position: absolute;
  border-radius: 50%;

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    transition: 0.7s;

    &:hover {
      transform: rotate(90deg);
      background-color: rgba(#2CAEF8, 0.2);
    }
  }

  &__plaseholder {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;

    &_dropover {
      background-color: #2CAEF8;
      opacity: 0.2;
    }

  }

  &__input {
    border-radius: 50%;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
    // visibility: hidden;
    // display: none;
  }
  &__icon {
    z-index: 1;
    fill: #2CAEF8;
    position: absolute;
  }
}