@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  margin: 0;
}

#root {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  // outline: 2px green solid;
}

.root-wrapper {
  position: relative;
  width: 90%;
  margin: 0 5%;
  // height: 100%;
}

.workspace {
  position: absolute;
  top: 0;

  &__tools {
    display: flex;
  }
}